<div class="login-wrapper">
  <div class="login-overlay" *ngIf="formGroup">
    <form class="login" #loginForm="ngForm" [formGroup]="formGroup" (ngSubmit)="onFormSubmit(formGroup)">
      <div class="login-group">
        <div class="logo left" *ngIf="logo">
          <a routerLink="/" >
            <img alt="application logo" [src]="logo" [alt]="company" />
          </a>
        </div>
        <div class="title left" *ngIf="name">
          <span class="module">{{ name }}</span>
          <span class="company-name">{{ company }}</span>
        </div>
        <div class="input-container">
          <label class="sr-only">{{ 'auth.login.username.label' | text }}</label>
          <input [class.has-error]="!!formGroup.get('username')?.touched && formGroup.get('username')?.errors !== null"
            aria-label="username" type="text" name="username" [placeholder]="'auth.login.username.label' | text"
            formControlName="username" />
        </div>
        <div class="input-container">
          <label class="sr-only">{{'auth.login.password.label' | text }}</label>
          <input password
            [class.has-error]="!!formGroup.get('password')?.touched && formGroup.get('password')?.errors !== null"
            aria-label="password" [type]="'password'" name="password" [placeholder]="'auth.login.password.label' | text"
            formControlName="password" />
          <app-password-toggle (stateChange)="passwordInputRef?.setTypeAttribute($event)"
            [state]="'password'"></app-password-toggle>
        </div>
        <clr-checkbox-wrapper *ngIf="remember">
          <label>{{ 'auth.login.remember.label'| text }}</label>
          <input aria-label="remember-me" type="checkbox" name="remember" clrCheckbox formControlName="remember" />
        </clr-checkbox-wrapper>
        <button title="sumit-button" type="submit" [disabled]="performingAction" class="submit-btn btn btn-primary">{{ 'auth.login.submit' | text }}</button>

        <div class="links">
          <!-- Login Links -->
        </div>
        <div class="footer">
          <div class="powered-by">Powered by LIKSOFT</div>
        </div>
      </div>
    </form>
  </div>
</div>