.flexbox {
  display: inline-block;
}

.flexbox .nav-text {
  display: inline-block;
  margin-left: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: var(--header-nav-text-margin-top, 0.758rem);
  height: var(--header-nav-text-margin-top, 1.8rem);
}
